dataset/
CLAUDE.md
data/.env
*.pyc
__pycache__/
data/raw/
data/embeddings/
data/insufficient_dataset/
data/insufficient_dataset_umwp/
models/checkpoints/
results/
experiments/
src/scripts/.env
PROPOSAL_1/data/.env
src/data/embeddings